@model webapp.Models.Estudiante

@{
    ViewBag.Title = "Delete";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">¿Estas seguro de eliminar el registo?</h4>
</div>
<div class="modal-body">
    <h4>Estudiante ID @Html.DisplayFor(model => model.Identificacion) - @Model.Identificacion</h4>
</div>
<div class="modal-footer">
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    }
</div>
